.wrap-page-compare{
    margin-top: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.wrap-page-compare .image-device{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 242px;
}

.wrap-page-compare .wrap-image {
    margin: 20px auto;
    background-color: white;
    padding: 27px;
    max-width: 247px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(17 183 224);
}

.wrap-page-compare .col h4 {
    margin-bottom: 18px;
}

.wrap-page-compare .form-check {
    text-align: left;
    

}

.wrap-page-compare .row {
    width: 100%;
}

.wrap-page-compare .form-check-label {
    margin-top: 0;
    font-size: 21px;
    margin-bottom: 20px;
    font-weight: 300;
}


.wrap-page-compare .form-switch .form-check-input{
    font-size: 20px;
    cursor: pointer;

}

hr {
    color: white;
    width: 70%;
    margin: 0 auto;
}

.form-check {
    margin-bottom: 2.125rem;
}


.wrap-page-compare hr{
    margin-bottom: 27px;
}
 .wrap-page-compare  span .css-mf1cb5-MuiButtonBase-root-MuiIconButton-root {
    color: rgb(195, 248, 250);
}


.wrap-page-compare .col h4 {
    font-size: 19px;
}