
.wrap-basket .card-body {
    text-align: left;
}

.wrap-basket .wrap-name-device h1 {
    color: white;
}

.wrap-basket .img {
    margin: 3px 20px 9px 19px;
    width: 45px;
    height: 86px;
}

.wrap-basket .card {
    min-height: 153px;
    margin-right: 20px;
    padding: 3px;
}

.wrap-basket .row {
    max-width: 800px;
    height: 0px;
}

.wrap-order-info {
    border-radius: 17px;
    border: 4px solid #21a1be;
    padding: 20px;
    height: 222px;
    margin: 25px 25px 0 0;
    text-align: center;
    width: 328px;
}

.wrap-order-info h2 {
    color: #36c3e3;
    margin-bottom: 40px;
}

.wrap-basket .d-flex{
    justify-content: space-between;
}

.info {
    color: white;
    text-align: center;
    margin-top: 100px;
}


.wrap-order-info .btn {
    border-radius: 17px;
    padding: 9px;
    font-size: 21px;
    width: 52%;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */


    
.table {
    width: 64%;
}
th{
    font-weight: 400;
}

th:first-child{
    text-align: left;
    text-transform: uppercase;
}

tbody{
    background: #ffffff;
}

.table-product {
    display: flex;
    align-items: center;
}

.table-product .card-title {
    margin: 5px 0 0 0;
}

tr {
    height: 65px;
}

thead {
    color: white;
    font-size: 23px;
    text-align: center;
}

td p{
    margin-top: 52px;
}

.table .input-group {
    width: 79%;
    margin: 30px auto;
}

.table-price, .table-quantity, .table-amount {
    width: 17%;
    text-align: center;
}

table .card-title {
    font-size: 17px;
}

.remove-product-fromCart {
    padding: 2px;
    color: gray;
    margin: 5px 0 0 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    opacity: 0.8;
}

.remove-product-fromCart:hover {
    color: black;
    font-weight: bolder;
    transition: 0.2s all ease;
    opacity: 1;
}

.table-quantity .btn {
    font-size: 18px;
}

.table-quantity .btn:hover {
    color: rgb(46, 161, 1);
}

.table-quantity .btn:first-child:hover {
    color: rgb(219, 27, 1);
}


/* ////////////////////////////////////// modal ////////////// */

.modal-dialog{
    max-width: 900px;
}


.modal-body .form-control {
    width: 100%;
    margin: 15px 0 10px 0px;
    border-radius: 15px;
    box-shadow: -4px -2px 12px rgb(17 183 224);
    background: #ebebeb;
}

textarea {
    resize: none;
}

.wrap-data-delivery {
    width: 80%;
    margin: 16px auto;
}


.fields {
    width: 300px;
}


.wrap-step2 h2 {
    text-align: center;
    margin: 0px 0 29px 0;
}

.wrap-step2 h5 {
    margin-bottom: 10px;
    font-weight: 400;
}

.wrap-step2 h5 span {
    font-weight: 600;
}

.wrap-step2 .d-flex, .step2-device {
    border: none;
    padding: 20px;
    background-color: white;
    color: black;
    opacity: 0.9;
    border-radius: 36px;
    box-shadow: -4px -2px 12px rgb(17 183 224);
}

.step2-device {
    margin: 20px 0;
    border: 1px #d1d1d1 solid;
    padding: 20px;
}

.step2-device h5{
    font-size: 14px;
}

.step2-device h5 span {
    font-size: 20px;
}

.group-btn-steps{
    text-align: right;
}
.group-btn-steps button {
    width: 200px;
    margin-left: 10px;
}

.wrap-step2 h3{
    font-size: 25px;
    text-align: right;
    margin: 10px 10px 20px 0;
    color: #1ddadd;
}

.wrap-step3 {
    width: 75%;
    margin: 30px auto;
}
.wrap-step3 form {
    width: 250px;
}

.wrap-step3 .rccs {
    margin-left: 6px;
}

.wrap-step3 form input {
    width: 100%;
    margin: 5px 0;
    padding: 6px 15px;
    border: none;
    background-color: white;
    color: black;
    opacity: 0.9;
    border-radius: 36px;
    box-shadow: -4px -2px 12px rgb(17 183 224);
    outline: none;
}


.wrap-step3 .rccs__card--unknown > div{
    background: linear-gradient(25deg, #ed3e3e, #599fdf);
    box-shadow: none;
}


.wrap-step3 .rccs__card--mastercard .rccs__card__background {
    background: linear-gradient(25deg, #d1d516, #ffffff);
}

.wrap-step3 .rccs__card--visa .rccs__card__background {
    background: linear-gradient(266deg, #000000, #770283);
}

.succedPage  {
    margin-top: 15px;
}

.succedPage img {
    display: block;
    margin: 0px auto 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.succedPage img:hover{
    opacity: 1;
    transition: 0.2s;
}


.modal-body .css-z7uhs0-MuiStepConnector-line {
    display: block;
    border-color: #bffcfd;
    border-top-style: solid;
    border-top-width: 3px;
    margin-top: 5px;
}

.modal-body .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #56bbe5;
    font-size: 39px;
}


.modal-body .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    font-size: 39px;
    color: #1378c5;
}
.modal-body  svg{
    color: #d8feff;
    font-size: 39px;

}


.modal-body .css-117w1su-MuiStepIcon-text {
    fill: #000000;
}

.wrap-step3 .btn{
    margin: 10px 10px 0 0;
}



.modal-content {
    background-color: black;
    color: #1ddadd;
    box-shadow: 0px 0px 25px rgb(17 183 224);
    border-radius: 30px;
}

.btn-close {
    background: url('https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/000000/external-close-banking-and-finance-kiranshastry-gradient-kiranshastry.png');
    background-size: contain;
}

.modal-header {
    width: 95%;
    margin: 0 auto;
}


.btn-outline-secondary {
    color: #1378c5;
    border-color: #1378c5;
    border-width: 2px;
    border-radius: 23px;
    font-size: 18px;
    font-weight: 600;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #1378c5;
    border-color: #1378c5;
}


.btn-outline-success {
    font-size: 18px;
    width: 163px;
    border-radius: 30px;
    border-width: 2px;
    font-weight: 700;
}