body {
    background-color: black;
}

.container-fluid{
    width: 90%;
}

.navbar {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}



.logo {
    background-image: url('../../icons/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 194px;
    height: 63px;
}

.searchPanel {
    width: 330px;
    height: 40px;
    border: 3px solid rgb(0, 165, 187);
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 5px;
    background: #dddddd;
}

.searchPanel:focus{
    outline: 3px solid rgb(0, 165, 187);
    background: #ffffff;
}


.btn .badge {
    top: -10px;
    left: -28px;
    background-color: #045e7e;
}

.btn .position-compare {
    top: -19px;
    left: -15px;
}
/* //////////////////////////////////////NavLink///////////////////////////////////////////// */

.wrapper-nav-links {
    background: black;
    font-size: 20px;
    padding-top: 20px;
}

.nav-tabs {
    padding: 20px 130px 0;
    border-bottom: 4px solid #21a1be;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #21a1be;
    border-color: #21a1be;
    color: #ffffff;
}

.nav-tabs .nav-link {
    color: #c1c1c1;
}

.wrapper-nav-links .nav .nav-item {
    border-color: #21a1be;
}

.wrapper-totalPrice {
    min-width: 250px;
    font-size: 20px;
}

.searchPanel {
    position: relative;
    
}

.searchResults{
    border-radius: 10px;
    width: 330px;
    overflow: hidden;
    color: white;
    position: absolute;
    top: 68px;
    z-index: 100;
}

.searchResults h6 {
    margin-bottom: 0;
    cursor: pointer;
}

.searchResults h6:hover {
    text-decoration: underline;
}

.list-group-item .d-flex {
    justify-content: space-between;
}

.list-group-item .d-flex h6 {
    width: 231px;
}

.img-search {
    width: 37px;
}

.visibleClass {
    display: block;
}

.hiddenClass {
    display: none;
}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    box-shadow: 0px 0px 10px rgb(17 183 224);
    border-color: transparent;
}