
.img {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    min-height: 322px;
    padding: 23px;
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
    border: 5px solid #21a1be;
    color: #494949;
}
.card-body {
    padding: 1rem 0rem;
    text-align: center;
}

.card:hover {
    opacity: 1;
    transition: 0.4s;
    color: rgb(0, 0, 0);

}

.pagePhone {
    color: rgb(255, 255, 255);
}

.spinner-border {
    margin: 90px auto;
    width: 7rem;
    height: 7rem;
}

.pagePhone span {
    cursor: pointer;
    font-size: 44px;
}

.card-title:hover {
}