select{
    margin: 20px 0 0 64px;
    background: black;
    color: white;
    border: none;
    font-size: 22px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    opacity: 0.8;
    transition: 0.2s;

}
option {
    font-size: 20px;
}


select:hover {
    box-shadow: 0px 0px 10px rgb(17, 183, 224);
    border-radius: 10px;
    opacity: 1;
    transition: 0.2s;
  }


/* /////////////////////////////////////////////FILTER */

.MuiPaper-root input {
    width: 100px;
    padding: 7px;
    font-size: 14px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.wrapper-filter {
    width: 295px;
    margin-top: 125px;
    box-shadow: 0px 0px 15px rgb(17 183 224);
    border-radius: 20px;
    opacity: 0.8;
    transition: 0.2s;
}

.wrapper-filter:hover{
    opacity: 1;
    transition: 0.2s;

}

.wrapper-filter h2 {
    background-color: #21a1be;
    padding: 7px 20px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #e5e5e5;

}

.wrapper-filter .css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.wrapper-btn-reset-filter {
    text-align: center;
    background-color: #9fbac1;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper-btn-reset-filter:hover {
    transition: 0.3s;
    background-color: #117991;
}

.wrapper-filter .css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 1px 0 0 0;
}


.wrapper-filter .css-187mznn-MuiSlider-root {
    color: #21a1be;
}


.css-i4bv87-MuiSvgIcon-root {
    color: #21a1be;
}


.css-o4b71y-MuiAccordionSummary-content {
    font-weight: 500;
}

.wrapper-filter .css-ahj2mt-MuiTypography-root {
    font-size: 14px;
}

.wrapper-filter  .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: #e3e3e3;
}