
.img {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    margin-top: -5px;
    width: 920px;
}

.wrap-spinner {
    margin: 10px auto;
    width: 119px;
}

.card {
    margin-top: 30px;
    /* min-height: 322px; */
    padding: 23px 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px rgb(17, 183, 224);
    border-radius: 25px;
}

.col .card {
    margin: 30px auto;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
    color: #494949;
}
.card-body {
    padding: 1rem 0rem;
    text-align: center;
}

.col .card:hover {
    opacity: 1;
    transition: 0.4s;
    color: rgb(0, 0, 0);

}

.deviceList .row .col .card {
    width: 17rem
}


.btn-basket{
    border: none;
    outline: none;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.active{
    background-color: black;
}

/* ////////////////////////PHONE PAGE/////////////////////////////// */

.pagePhone {
    color: #FFFFFF
}

.spinner-border {
    margin: 90px auto;
    width: 7rem;
    height: 7rem;
}

.wrap-name-device span {
    display: block;
    width: 66px;
    height: 45px;
    cursor: pointer;
    background-image: url('../../icons/back.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap-name-device {
    display: flex;
    margin-top: 24px;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    font-size: 66px;
}

.wrap-name-device h1 {
    font-size: 41px;
    letter-spacing: -1px;
    font-weight: 300;
}

.pagePhone .card {
    margin-left: 35px;
    width: 29%;
    padding: 35px;
    border-radius: 30px;
}

.pagePhone .card div {
    height: 278px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-page-device {
    margin: 0 auto;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-page-device .d-flex {
    width: 260px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center ;
}

.wrap-mainInfo {
    min-width: 393px;
}

.wrap-mainInfo h2 {
    font-size: 5rem;
    color: #21a1be;
    font-weight: 300;
}

.wrap-mainInfo p {
    font-size: 18px;
    margin-bottom: 0px;
}

.wrap-mainInfo .btn {
    margin-bottom: 14px;
    width: 319px;
    font-size: 25px;
    margin-right: 10px;
}

.pagePhone .container {
    margin-top: 80px;
}

.pagePhone .container .col:not(:last-child) {
    border-right: 1px solid;
}

.pagePhone .container .col h4 {
    margin-bottom: 20px;
}

.pagePhone .container .row {
    padding-bottom: 100px;
    width: 100%;
}

.logo-describe {
    margin: 10px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.display-logo {
    background-image: url('../../icons/display.png');
}
.camera-logo {
    background-image: url('../../icons/photo-camera.png');
}

.CPU-logo {
    background-image: url('../../icons/cpu.png');
}
.memory-logo {
    background-image: url('../../icons/memory-card.png');
}

.battery-logo {
    background-image: url('../../icons/battery-status-full.png');
}

.protection-logo {
    background-image: url('../../icons/drop.png');
}
.RAM-logo {
    background-image: url('../../icons/ram.png');
}

.logo-delivery {
    background-image: url('../../icons/delivery.png');
    height: 43px;
    width: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-switch .form-check-input:checked {
    background-color: #36c3e3;
}

.form-check-label {
    margin-top: 20px;
    font-size: 21px;
}

.form-switch {
    padding-left: 3.5em;
}


.bg-basket-btn {
    width: 27px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-basket-plus {
    background-image: url('../../icons/plus.png');
}

.bg-basket-check {
    background-image: url('../../icons/check.png');
}

.col .add-basket-btn{
    transition: 0.3s all;
    border-radius: 19px;
    padding: 6px;
    border: 3px solid #36c3e3;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .add-basket-btn:hover {
    transition: 0.3s all;
    background-color: rgb(225, 255, 255);
}

/* /////////////////////////////////////////////////////////////
 */

 .test {
    background-image: url('../../icons/plus.png');
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;

}

 .test_2 {
    background-image: url('../../icons/check.png');
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.col .card .badge {
    position: absolute;
    top: 9px;
    left: 28px;
    background-color: white ;
}
.container .card .d-flex .btn-sm{
    border-radius: 20px;
}

.container .card .d-flex .btn-sm:hover {
    box-shadow: 0px 0px 10px rgb(17, 183, 224);
}

.col .card .justify-content-between {
    width: 80%;
    margin: 0 auto;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hide-alert {
    display: none;
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    right: 120px;
    bottom: 20px;
    z-index: 1;
}

.visible-alert {
    display: block;
    opacity: 1;
    transition: 0.3s;
    position: fixed;
    right: 120px;
    bottom: 20px;
    z-index: 1;
}


.wrap-scales-btn {
    background-image: url('../../icons/scales.png');
    width: 20px;
    height: 20px;
}

.scales .test {
    width: 28px;
    height: 29px;
}


.col .card .scales .badge {
    left: 22px;
}


@media (max-width: 1382px) {
    .container {
        max-width: 1356px;
    }
}

@media (max-width: 1255px) {
    .deviceList .row .col .card {
        width: 16rem
    }
    .deviceList .row {
        width: 844px;
    }
}

@media (max-width: 1185px) {
    .deviceList .wrapper-filter {
        width: 261px;
    }
}
@media (max-width: 1167px) {
    .deviceList .row {
        max-width: 811px;
    }
}

@media (max-width: 1080px) {
    .deviceList .row {
        max-width: 665px;
    }
}

@media (max-width: 970px) {
    .deviceList .row {
        max-width: 578px;
    }
    .wrap-mainInfo h2 {
        font-size: 4rem;
    }
    .wrap-mainInfo .btn {
        margin-bottom: 14px;
        width: 277px;
        font-size: 18px;
        margin-right: 10px;
    }
}


@media (max-width: 872px) {
    .deviceList .row .col .card {
        width: 15rem;
    }
    .deviceList .wrapper-filter {
        width: 226px;
    }
    .wrap-mainInfo {
        min-width: 289px;
    }
    .parametrs h4{
        font-size: 18px;
    }
    .parametrs .logo-describe {
        height: 42px;
    }
    .parametrs h6 {
        font-size: 12px;
    }
}

@media (max-width: 830px) {
    .deviceList .row {
        max-width: 530px;
    }
    .pagePhone .card {
        padding: 17px;
    }
    .wrap-name-device h1 {
        font-size: 34px;
    }
    .wrap-name-device span {
        width: 53px;
        height: 34px;
    }
}

@media (max-width: 785px) {
    .deviceList .row {
        max-width: 352px;
    }
    .deviceList .row .col .card {
        width: 17rem;
    }
    .deviceList .wrapper-filter {
        width: 294px;
    }
    .container {
        max-width: 729px;
    }    
}

@media (max-width: 680px) {
    .deviceList .wrapper-filter {
        width: 215px;
    } 
    .wrap-mainInfo h2 {
        font-size: 3rem;
    }
    .wrap-mainInfo p {
        font-size: 14px;
    }
    .content-page-device .d-flex {
        width: 219px;
    }
    .logo-delivery {
        height: 29px;
    }
    .wrap-mainInfo .btn {
        width: 222px;
        font-size: 14px;
    }
    .pagePhone .card div {
        height: 202px;
    }
    .wrap-mainInfo {
        min-width: 231px;
    }
    .parametrs .logo-describe {
        height: 32px;
    }
    .parametrs h4 {
        font-size: 15px;
    }
    .parametrs h6 {
        font-size: 10px;
    }
}

@media (max-width: 570px) {
    .deviceList .row .col .card {
        width: 15rem;
    }
    .deviceList .row {
        max-width: 325px;
    }
    .parametrs h4 {
        font-size: 25px;
    }
    .parametrs h6 {
        font-size: 18px;
    }
    .parametrs .logo-describe {
        height: 55px;
    }
    .parametrs .col {
        padding: 0px 24px 0 33px;
    }
    .pagePhone .container .col {
        border-left: 1px solid;
        border-right: 1px solid;
    }
    
}

@media (max-width: 540px){
    .deviceList .row {
        max-width: 266px;
    }
    .parametrs h4 {
        font-size: 20px;
    }
    .parametrs h6 {
        font-size: 13px;
    }
    .wrap-name-device h1 {
        font-size: 29px;
    }

    .wrap-name-device span {
        width: 40px;
        height: 29px;
    }
    .wrap-mainInfo h2 {
        font-size: 2rem;
    }
    .wrap-mainInfo p {
        font-size: 11px;
    }
    .content-page-device .d-flex {
        width: 171px;
    }
    .logo-delivery {
        height: 19px;
    }
    .wrap-mainInfo .btn {
        width: 172px;
        font-size: 12px;
    }
    .pagePhone .card div {
        height: 145px;
    }
    .wrap-mainInfo {
        min-width: 180px;
    }
}



@media (max-width: 510px){
    .container, .d-flex, .justify-content-between, .align-items-start, .deviceList{
        display: block !important
    }
    .deviceList .row {
        max-width: 100%;
        margin: 0;
    }
    .deviceList .row .col .card {
        width: 17rem;
        
    }
    .deviceList .wrapper-filter {
        width: 215px;
        margin: 0 auto;
    }
    .logo-delivery {
        display: none;
    }
    .parametrs h4 {
        font-size: 14px;
    }
    .parametrs h6 {
        font-size: 10px;
    }
    .parametrs .logo-describe {
        height: 33px;
    }
    .wrap-mainInfo h2 {
        font-size: 25px;
    }
    .wrap-mainInfo .btn {
        width: 135px;
        font-size: 9px;
    }
    .wrap-mainInfo {
        margin-top: 44px;
    }
}

@media (max-width: 410px){
    .wrap-mainInfo {
        min-width: 162px;
    }
    .pagePhone .card div {
        height: 91px;
    }
    .content-page-device {
        margin: 0 auto;
        width: 100%;
    }
    .wrap-name-device {
        padding: 0px;
    }
    .wrap-name-device h1 {
        font-size: 22px;
    }
    .wrap-name-device span {
        width: 32px;
        height: 20px;
    }
    .pagePhone .container {
        margin-top: 26px;
    }
}

@media (max-width: 385px){
    .pagePhone .container .col {
        border: 1px solid;
    }
}

@media (max-width: 355px){
    .deviceList .row .col .card {
        width: 15rem;
        margin: 10px auto
    }
    .parametrs .logo-describe {
        height: 24px;
    }
    .wrap-mainInfo .btn {
        margin-bottom: 6px;
        margin-right: 2px;
    }
}

