
.img {
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    margin-top: -5px;
    width: 920px;
}

.wrap-spinner {
    margin: 10px auto;
    width: 119px;
}

.card {
    margin-top: 30px;
    /* min-height: 322px; */
    padding: 23px 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px rgb(17, 183, 224);
    border-radius: 25px;
}

.col .card {
    margin: 30px auto;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
    color: #494949;
}
.card-body {
    padding: 1rem 0rem;
    text-align: center;
}

.col .card:hover {
    opacity: 1;
    transition: 0.4s;
    color: rgb(0, 0, 0);

}


.btn-basket{
    border: none;
    outline: none;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.active{
    background-color: black;
}

/* ////////////////////////PHONE PAGE/////////////////////////////// */

.pagePhone {
    color: #FFFFFF
}

.spinner-border {
    margin: 90px auto;
    width: 7rem;
    height: 7rem;
}

.wrap-name-device span {
    display: block;
    width: 66px;
    height: 45px;
    cursor: pointer;
    background-image: url('../../icons/back.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap-name-device {
    display: flex;
    margin-top: 24px;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    font-size: 66px;
}

.wrap-name-device h1 {
    font-size: 41px;
    letter-spacing: -1px;
    font-weight: 300;
}

.pagePhone .card {
    margin-left: 35px;
    width: 29%;
    padding: 35px;
    border-radius: 30px;
}

.pagePhone .card div {
    height: 278px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-page-device {
    margin: 0 auto;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-page-device .d-flex {
    width: 260px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center ;
}

.wrap-mainInfo {
    min-width: 393px;
}

.wrap-mainInfo h2 {
    font-size: 5rem;
    color: #21a1be;
    font-weight: 300;
}

.wrap-mainInfo p {
    font-size: 18px;
    margin-bottom: 0px;
}

.wrap-mainInfo .btn {
    margin-bottom: 14px;
    width: 319px;
    font-size: 25px;
    margin-right: 10px;
}

.pagePhone .container {
    margin-top: 80px;
}

.pagePhone .container .col:not(:last-child) {
    border-right: 1px solid;
}

.pagePhone .container .col h4 {
    margin-bottom: 20px;
}

.pagePhone .container .row {
    padding-bottom: 100px;
    width: 100%;
}

.logo-describe {
    margin: 10px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.display-logo {
    background-image: url('../../icons/display.png');
}
.camera-logo {
    background-image: url('../../icons/photo-camera.png');
}

.CPU-logo {
    background-image: url('../../icons/cpu.png');
}
.memory-logo {
    background-image: url('../../icons/memory-card.png');
}

.battery-logo {
    background-image: url('../../icons/battery-status-full.png');
}

.protection-logo {
    background-image: url('../../icons/drop.png');
}
.RAM-logo {
    background-image: url('../../icons/ram.png');
}

.logo-delivery {
    background-image: url('../../icons/delivery.png');
    height: 43px;
    width: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form-switch .form-check-input:checked {
    background-color: #36c3e3;
}

.form-check-label {
    margin-top: 20px;
    font-size: 21px;
}

.form-switch {
    padding-left: 3.5em;
}


.bg-basket-btn {
    width: 27px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-basket-plus {
    background-image: url('../../icons/plus.png');
}

.bg-basket-check {
    background-image: url('../../icons/check.png');
}

.col .add-basket-btn{
    transition: 0.3s all;
    border-radius: 19px;
    padding: 6px;
    border: 3px solid #36c3e3;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .add-basket-btn:hover {
    transition: 0.3s all;
    background-color: rgb(225, 255, 255);
}

/* /////////////////////////////////////////////////////////////
 */

 .test {
    background-image: url('../../icons/plus.png');
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;

}

 .test_2 {
    background-image: url('../../icons/check.png');
    width: 29px;
    height: 29px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.col .card .badge {
    position: absolute;
    top: 9px;
    left: 28px;
    background-color: white ;
}
.container .card .d-flex .btn-sm{
    border-radius: 20px;
}

.container .card .d-flex .btn-sm:hover {
    box-shadow: 0px 0px 10px rgb(17, 183, 224);
}

.col .card .justify-content-between {
    width: 80%;
    margin: 0 auto;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hide-alert {
    opacity: 0;
    transition: 0.3s;
    position: fixed;
    right: 120px;
    bottom: 20px;
    z-index: 1;
}

.visible-alert {
    opacity: 1;
    transition: 0.3s;
    position: fixed;
    right: 120px;
    bottom: 20px;
    z-index: 1;
}


.wrap-scales-btn {
    background-image: url('../../icons/scales.png');
    width: 20px;
    height: 20px;
}

.scales .test {
    width: 28px;
    height: 29px;
}


.col .card .scales .badge {
    left: 22px;
}

