*{
    font-family: 'Quicksand', sans-serif;
}

.img-slider{
    height: 500px;
    margin: 0 auto;
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mac-img {
    background-image: url('./imgagesSlider/mac.png');
}
.imac-test {
    background-image: url('./imgagesSlider/imacTest.png');
}

.watchTest{
    background-image: url('./imgagesSlider/watchTest.png');
}
.iphone{
    background-image: url('./imgagesSlider/iphone.png');
}
.airpods {
    background-image: url('./imgagesSlider/airpods.png');
}


@media (max-width: 1235px) {
    .img-slider {
        height: 413px;
    }
}
@media (max-width: 1075px) {
    .img-slider {
        height: 355px;
    }
}
@media (max-width: 860px) {
    .img-slider {
        height: 281px;
    }
}
@media (max-width: 675px) {
    .img-slider {
        height: 239px;
    }
}
@media (max-width: 530px) {
    .img-slider {
        height: 221px;
    }
}
@media (max-width: 445px) {
    .img-slider {
        height: 174px;
    }
}

@media (max-width: 350px) {
    .img-slider {
        height: 150px;
    }
}